.section {
    width: 100%;
    position: relative;

    .section-content {
        width: 1000px;
        margin: auto;
        position: relative;
    }

    h2 {
        color: @purple;
        font: 48px 'UbuntuLight', Arial, sans-serif;
        text-transform: uppercase;
    }

}