

.breadcrumb-section {
    background: url('../../img/bg-black.png');

    .section-content {
        padding-left: 25px;

        a, span {
            color: @blue;
            font-size: 18px;
            line-height: 35px;
            font-style: italic;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }

}

.left-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 15;

    width: @leftNavWidth;

    background-color: @grey2;

    a {
        display: block;
        color: @lightgrey;
        font-size: 18px;
        font-weight: bold;
        line-height: 35px;
        border-bottom: solid @lightgrey 1px;

        &:last-child {
            border-bottom: none;
        }
    }

}


.training {


    .inner-container {
        position: relative;

        .section {
            height: 500px; /* TODO : remove */
            .section-content {
                padding-left: @leftNavWidth;
                width: @containerWidth - @leftNavWidth;
            }


        }

    }





    .presentation-section {
        .section-content {

        }
    }

    .programme-section {
        background: url('../../img/home-formation-bg.jpg') top left no-repeat;
        height: 500px;

        .section-content {
            h2 {
                color: @blue;
            }

        }
    }

    .bio-section {
        background: url('../../img/bg-black.png') top left repeat;
        height: 500px;

        .section-content {
            h2 {
                color: @blue;
            }

        }
    }

    .info-section {


        .bubbles {
            .clearfix;
            margin-top: 50px;

            .bubble {
                width: 210px;
                height: 210px;
                background-color: @lightgrey;
                border-radius: 110px;
                display: inline-block;
                margin-right: 20px;
                position: relative;

                &:last-child {
                    margin-right: 0px;
                }

                p {
                    display: inline-block;
                    color: @darkgrey;
                    position: absolute;
                    top: 100px;
                    left: 0px;
                    width: 100%;
                    text-align: center;
                }

                h3 {
                    position: absolute;
                    bottom: 30px;
                    right: 0px;
                    width: 120px;
                    text-align: center;

                    background-color: @purple;
                    color: @white;
                    text-transform: uppercase;
                    font-weight: bold;
                    padding: 8px 20px;
                }
            }

            .date-bubble {
                background: @lightgrey url(../../img/bubble-dates-bg.png) 40px 0px no-repeat;
            }

            .price-bubble {

            }

            .subscribe-bubble {
                background: @lightgrey url(../../img/bubble-subscribe-bg.png) 40px 0px no-repeat;
            }

        }
    }

    .testimony-section {
        background: url('../../img/contact-flare.jpg') no-repeat top right @purple1;

        .section-content {
            h2 {
                color: @white;
            }
        }

    }

}

