<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <!--  THIS IS A FAKE CONFIG FILE : ITS SOLE PURPOSE IS TO BE USED BY THE HIBERNATE MAVEN PUGIN -->
    <session-factory>

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <mapping class="fr.xebia.training.model.Training" />
        <mapping class="fr.xebia.training.model.TrainingCategory" />
        <mapping class="fr.xebia.training.model.Trainer" />

    </session-factory>
</hibernate-configuration>